@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
  }
  